DATABASE_URL=postgresql://{{ tresor_index_db_user }}:{{ tresor_index_db_password }}@{{ tresor_index_db_container_name }}:5432/{{ tresor_index_db_name }}
TRESOR_INDEX_PUBLIC_DATABASE_URL=postgresql://{{ tresor_index_public_api_db_user }}:{{ tresor_index_public_api_db_password }}@{{ tresor_index_db_container_name }}:5432/{{ tresor_index_db_name }}
TRESOR_INDEX_CONFIG_DIR=/config
TRESOR_INDEX_SOURCES_FILE=/config/sources.yml
TRESOR_INDEX_SCHEDULER_INTERVAL_SECONDS={{ tresor_index_scheduler_interval_seconds }}
TRESOR_INDEX_TIMEZONE={{ tresor_index_timezone }}
TRESOR_INDEX_DISCORD_USERNAME={{ tresor_index_discord_username }}
TRESOR_INDEX_DISCORD_WEBHOOK_VOTES={{ tresor_index_discord_webhook_votes }}
TRESOR_INDEX_DISCORD_WEBHOOK_TECH_NEWS={{ tresor_index_discord_webhook_tech_news }}
TRESOR_INDEX_DISCORD_WEBHOOK_ROMANIAN_NEWS={{ tresor_index_discord_webhook_romanian_news }}
TRESOR_INDEX_DISCORD_WEBHOOK_REAL_ESTATE={{ tresor_index_discord_webhook_real_estate }}
TRESOR_INDEX_DIGEST_VOTES_TIME={{ tresor_index_digest_votes_time }}
TRESOR_INDEX_DIGEST_ROMANIAN_NEWS_TIME={{ tresor_index_digest_romanian_news_time }}
TRESOR_INDEX_DIGEST_TECH_NEWS_TIME={{ tresor_index_digest_tech_news_time }}
TRESOR_INDEX_DIGEST_REAL_ESTATE_TIME={{ tresor_index_digest_real_estate_time }}
