# Managed by Ansible - paper-join-notifier
PAPER_JOIN_NOTIFIER_DISCORD_WEBHOOK_URL={{ paper_join_notifier_discord_webhook_url | quote }}
PAPER_JOIN_NOTIFIER_LOG_FILE={{ paper_join_notifier_log_file | quote }}
PAPER_JOIN_NOTIFIER_SERVER_NAME={{ paper_join_notifier_server_name | quote }}
PAPER_JOIN_NOTIFIER_REQUEST_TIMEOUT_SECONDS={{ paper_join_notifier_request_timeout_seconds }}
PAPER_JOIN_NOTIFIER_POLL_INTERVAL_SECONDS={{ paper_join_notifier_poll_interval_seconds }}
PAPER_JOIN_NOTIFIER_START_AT_END={{ '1' if paper_join_notifier_start_at_end else '0' }}
PAPER_JOIN_NOTIFIER_DEBUG={{ '1' if paper_join_notifier_debug else '0' }}
PAPER_JOIN_NOTIFIER_DISCORD_USERNAME={{ paper_join_notifier_discord_username | quote }}
PAPER_JOIN_NOTIFIER_DISCORD_AVATAR_URL={{ paper_join_notifier_discord_avatar_url | quote }}
PAPER_JOIN_NOTIFIER_EMBED_COLOR={{ paper_join_notifier_embed_color }}
