SATELITE_WATCHER_DISCORD_WEBHOOK_URL={{ satelite_watcher_discord_webhook_url | quote }}
SATELITE_WATCHER_SPACE_TRACK_USERNAME={{ satelite_watcher_space_track_username | quote }}
SATELITE_WATCHER_SPACE_TRACK_PASSWORD={{ satelite_watcher_space_track_password | quote }}
