# Managed by Ansible – wireguard-server
[Interface]
Address = {{ wg_address }}
ListenPort = {{ wg_listen_port }}
PrivateKey = {{ _wg_private_key_actual }}
{% if wg_mtu is not none %}
MTU = {{ wg_mtu }}
{% endif %}
{% if wg_table is not none %}
Table = {{ wg_table }}
{% endif %}
SaveConfig = false
{% if wg_dns and wg_dns | length > 0 %}
DNS = {{ wg_dns | join(', ') }}
{% endif %}

{% for p in wg_peers %}
[Peer]
# {{ p.name | default('peer') }}
PublicKey = {{ p.public_key }}
AllowedIPs = {{ p.allowed_ips | join(', ') }}
{% if p.preshared_key is defined and p.preshared_key|length > 0 %}
PresharedKey = {{ p.preshared_key }}
{% endif %}
{% if p.persistent_keepalive is defined %}
PersistentKeepalive = {{ p.persistent_keepalive }}
{% endif %}

{% endfor %}
