DISCORD_WEBHOOK_URL={{ grafana_alerting_discord_webhook_url | quote }}
DISCORD_USER_ID={{ grafana_alerting_discord_user_id | quote }}
RELAY_TOKEN={{ grafana_alerting_relay_token | quote }}
LISTEN_HOST={{ grafana_alerting_relay_bind_addr | quote }}
LISTEN_PORT={{ grafana_alerting_relay_port | string | quote }}
DISCORD_USERNAME={{ grafana_alerting_contact_point_name | quote }}
