[defaults]
# Where Ansible looks for roles and collections
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
vault_identity_list = qa@vaults/qa.vault, prod@vaults/prod.vault, vps@vaults/vps.vault


# set 'replace' to avoid merge explosions.
# can keep it or remove this line later if I prefer 'merge'.
hash_behaviour = replace

# quality of life
forks = 10
pipelining = True
host_key_checking = False
