# Managed by Ansible - ra-artist-notifier
RA_ARTIST_NOTIFIER_ARTIST_NAME={{ ra_artist_notifier_artist_name | quote }}
RA_ARTIST_NOTIFIER_ARTIST_URL={{ ra_artist_notifier_artist_url | quote }}
RA_ARTIST_NOTIFIER_WEBHOOK_URL={{ ra_artist_notifier_webhook_url | quote }}
RA_ARTIST_NOTIFIER_STATE_FILE={{ ra_artist_notifier_state_file | quote }}
RA_ARTIST_NOTIFIER_REQUEST_TIMEOUT_SECONDS={{ ra_artist_notifier_request_timeout_seconds }}
RA_ARTIST_NOTIFIER_NOTIFY_FIRST_RUN={{ '1' if ra_artist_notifier_notify_first_run else '0' }}
RA_ARTIST_NOTIFIER_USER_AGENT={{ ra_artist_notifier_user_agent | quote }}
RA_ARTIST_NOTIFIER_DISCORD_USERNAME={{ ra_artist_notifier_discord_username | quote }}
RA_ARTIST_NOTIFIER_DISCORD_AVATAR_URL={{ ra_artist_notifier_discord_avatar_url | quote }}
