ROOT={{ batchyt_app_dir | quote }}
OUTDIR={{ batchyt_outdir | quote }}
ARCHIVE={{ batchyt_archive_path | quote }}
LOG_DIR={{ batchyt_log_dir | quote }}
COOKIES_MODE=file
COOKIES_FILE={{ batchyt_cookies_path | quote }}
PLAYLIST_URL={{ batchyt_playlist_url | quote }}
PLAYLIST_DIR_NAME={{ batchyt_playlist_dir_name | quote }}
PLAYLIST_LIMIT={{ batchyt_playlist_limit }}
PLAYLIST_WRITE_MODE={{ batchyt_playlist_write_mode }}
MEDIA_FORMAT={{ batchyt_media_format }}
AUDIO_QUALITY={{ batchyt_audio_quality }}
TAG_MODE={{ batchyt_tag_mode }}
MAX_DURATION={{ batchyt_max_duration }}
CONCURRENT_FRAGMENTS={{ batchyt_concurrent_fragments }}
JS_RUNTIMES={{ batchyt_js_runtimes | quote }}
BATCHYT_JELLYFIN_REFRESH_ENABLED={{ batchyt_jellyfin_refresh_enabled | ternary('1', '0') }}
BATCHYT_JELLYFIN_REFRESH_ALWAYS={{ batchyt_jellyfin_refresh_always | ternary('1', '0') }}
BATCHYT_JELLYFIN_URL={{ batchyt_jellyfin_url | quote }}
BATCHYT_JELLYFIN_API_KEY={{ batchyt_jellyfin_api_key | quote }}
